.search-bar {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.search-form {
  flex-grow: 1;
  min-width: 200px;
}

.random-button {
  white-space: nowrap;
}

@media (max-width: 640px) {
  .search-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .search-form {
    width: 100%;
  }
}
